@{
    ApplicationDbContext context = new ApplicationDbContext();
    var image = "DefaultIMage.png";
    if (User.Identity.Name != null)
    {
        image = context.Users.FirstOrDefault(x => x.UserName == User.Identity.Name).img;

    }
}
<ul class="nav-list">




    <li style="text-align:center">

        <img class="user-img" id="user-img" src="../img/bussaccimg/Adminimg/@image" alt="">   
      
    </li>
    <li >
        <h2 class="roleIcon"> ADMIN </h2>
    </li>
@*
    <li>
        <a asp-action="index" asp-controller="admin">
            <i class='bx bx-home'></i>
            <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
    </li>
*@
    <li>
        <a asp-action="Show_users" asp-controller="admin">
            <i class='fa fa-address-book'></i>
            <span class="links_name">Show Users </span>
        </a>
        <span class="tooltip"> Show Users </span>
    </li>

    <li>
        <a href="#">
            <i class='fa fa-list-ol'></i>
            <span class="links_name">Sellers Reviews</span>
        </a>
        <span class="tooltip">Sellers Reviews</span>
    </li>



    <li class="dropdown" id="dropList">
        <a class="dropbtn">
            <i class="fa fa-product-hunt"></i>
            <span class="links_name ">Business Account</span>
        </a>

        <div class="dropdown-content" id="dropItem">

            <a class="dropm" asp-action="AddBussnessACount" asp-controller="account">
                <span class="Drop_links_name ">Add New Business Account</span>
            </a>
            <a class="dropm" asp-action="AddRole" asp-controller="role">
                <span class="Drop_links_name ">Add new Role </span>
            </a>

        </div>
    </li>




   

    <li class="dropdown" id="dropList">
        <a class="dropbtn">
            <i class="fa fa-bar-chart"></i>
            <span class="links_name ">Category</span>
        </a>

        <div class="dropdown-content" id="dropItem">

            <a class="dropm" asp-action="Show_all_category" asp-controller="Category">
                <span class="Drop_links_name ">Show All Category</span>
            </a>
            <a class="dropm" asp-action="Add_categoery" asp-controller="Category">
                <span class="Drop_links_name ">Add New Category</span>
            </a>

        </div>
    </li>




    <li class="dropdown" id="dropList">
        <a class="dropbtn">
            <i class="fa fa-product-hunt"></i>
            <span class="links_name ">Product</span>
        </a>

        <div class="dropdown-content" id="dropItem">

            <a class="dropm" asp-action="Show_all_product" asp-controller="product">
                <span class="Drop_links_name ">Show All product</span>
            </a>
            <a class="dropm" asp-action="Add_product" asp-controller="product">
                <span class="Drop_links_name ">Add new product</span>
            </a>
        </div>
    </li>


    <li>
     
         <a asp-action="AdminProfile" asp-controller="Admin">
            <i class='fa fa-address-card-o'></i>
            <span class="links_name">Portfolio</span>
        </a>
        <span class="tooltip">Portfolio</span>
    </li>



    <li class="profile">
        <div class="profile-details">

            <div class="name_job">
                <div class="name">@User.Identity.Name</div>
                
            </div>
        </div>
        <div class="changestyle">
            <a asp-action="logout" asp-controller="Account" style="text-decoration:none"> <i class='bx bx-log-out' id="log_out" asp-></i></a>

        </div>
        
    </li>
</ul>